* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#header_container {
    height: 40%;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(60, 60, 60, 0.9),
      rgba(0, 0, 0, 0.7)
    ), url("../assets/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 70px;
}

#section_container {
    margin: 0 250px;
    margin-bottom: 50px;
}

#text_at_left {
    align-self: flex-start;
    padding-left: 30px;
    padding-top: 20px;
}

#text_at_center {
    text-align: left;
    max-width: 643px;
    margin-top: 40px;
}

#text_at_center p {
    font-size: large;
    margin-top: 20px;
}

#text_at_center h1 {
    font-weight: bold;
}

#download_button {
    background-color: rgb(78, 146, 224);
    margin-top: 30px;
    padding: 15px 25px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}

#download_button:hover,
#button_to_the_right:hover {
    background-color: rgb(140, 5, 5);
}

#button_to_the_right {
    border-radius: 20px;
    padding: 5px 20px;
    background-color: rgb(193, 52, 137);
    font-weight: bold;
    border: none;
    position: absolute;
    top: 20px;
    right: 40px;
}

#section_title {
    color: black;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 15px;
    margin-bottom: 35px;
}

#section_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.clickable_links {
    padding: 10px 30px;
    border-radius: 20px;
    margin-right: 20px;
    color: rgb(78, 146, 224);
    background-color: white;
    border: 1px solid rgb(78, 146, 224);
}

.clickable_links#active {
    background-color: rgb(78, 146, 224);
    color: white;
}


.clickable_links:hover {
    background-color: rgb(78, 146, 224);
    color: white;
}

.box {
    border: 1px solid black;
}

#galleries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 800px;
    margin-top: 30px;
}

.box {
    height: 150px;
    background-color: #ccc;
    background-size: cover;
    border: none;
}

.box:hover {
    opacity: 0.7;
}

#photo1 {
    background-image: url("../assets/3.jpg");
}

#photo2 {
    background-image: url("../assets/2.jpg");
    height: 135px;
}

#photo3 {
    background-image: url("../assets/4.jpg");
}

#photo4 {
    background-image: url("../assets/6.jpg");
}

#photo5 {
    background-image: url("../assets/5.jpg");
    height: 180px;
}

#photo6 {
    margin-top: -20px;
    background-image: url("../assets/8.jpg");
}

#photo7 {
    background-image: url("../assets/10.jpg");
}

#photo8 {
    background-image: url("../assets/7.jpg");
}

@media screen and (max-width: 1024px) {
    #section_container {
        margin: 0 50px;
    }

    #galleries {
        width: 100%;
    }

    .box {
        height: 100px;
    }

    #photo2 {
        margin-bottom: 10px;
    }

    #photo5 {
        height: 140px;
    }
}

@media screen and (max-width: 768px) {
    #section_container {
        margin: 0 20px;
        margin-bottom: 20px;
    }

    #galleries {
        grid-template-columns: repeat(1, 1fr);
        width: 50%;
        gap: 30px;
    }

    .box {
        height: 120px;
    }

    #photo5 {
        height: 140px;
    }

    #text_at_left {
        padding-left: 10px;
    }

    #button_to_the_right {
        margin-top: 30px;
        left: 20px;
        right: auto;
    }

    .clickable_links {
        margin-bottom: 10px;
    }

    #text_at_center {
        padding: 10px 20px;
    }

    #photo6 {
        margin-top: 0px;
    }
}
